ul {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;

}

a {
    background-color: aqua;
    color: black;
}

li {
    list-style-type: none;
}

.box {
    border: 5px solid red;
}

#outerdiv {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: green;
    align-items: center;
}

#innerdiv {
    height: 50px;
    width: 50px;
    background-color: yellow;


}