* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'helevtica neue';
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid white;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: #222;
}

.card img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.card p {
  padding: 20px 0;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}