/* h2{
    background-color: green;
    height: 50px;
    width: 300px;
    text-align: center;
    border: 5px dotted red;
} */
div{
    background-color: pink;
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px 20px 30px 40px;
    margin-top: 90px;
    /* padding: 36px; */
    /* border-radius: 10%;
    text-align: center; */
    /* padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
}