div{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 150px;
    left: 50px;
    /* transform: rotate(45deg); */
    /* transform: scale(1,2 ); */
    /* transform: scalex(2); */
    transition: all 2s ease-in;
}
div:hover{
    transform: rotate(360deg);

}